<div class="card-group">
<div *ngFor="let post of posts; let i = index">
  <div class="card">
    <img class="card-img-top" src="selectedImage" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ post.user?.prenom }}</h5>
      <p class="card-text">{{ post.description }}</p>
      <button class="btn btn-success" (click)="toggleLike(i)"><i class="bi bi-hand-thumbs-up-fill"></i> J'aime</button>
      <a href="javascript:void(0)" class="btn btn-success" (click)="toggleDetails(i)">Read More</a>
      <span class="btn btn-success" [routerLink]= "'/post/update/'+post.idPost">Modifier</span>
      <button class="btn btn-outline-danger" (click)="archiverPost(post.idPost)"><i class="bi bi-trash"></i></button>
    </div>
    <div>
      <p>Likes: {{ post.nbrLikes }}</p>
    </div>
    <div *ngIf="postDetails[i]">
      <!-- Afficher les détails du post ici -->
      <p>Adresse: {{ post.adresse }}</p>
      <a href="{{ post.link }}" target="_blank">{{ post.link }}</a>
      <p>Date: {{ post.date }}</p>*
      <h6>Commentaires:</h6>
        <input type="text" id="content" name="content" [(ngModel)]="content" placeholder="Ajouter un commentaire">
        <button class="btn btn-success" (click)="ajouterCommentaire(post.idPost, content)"><i class="bi bi-chat-left-dots-fill"></i> Ajouter un commentaire</button>
    </div>
  </div>
</div>
  <div class="card-body">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">
      Some quick example text to build on the card title and make up the
      bulk of the card's content.
    </p>
    <a href="javascript:void(0)" class="btn btn-primary">Read More</a>

</div>
</div>
