<form #postForm="ngForm" (submit)="submitForm()">
  <div class="form-group">
    <label for="linkPieceJointe">Lien de la pièce jointe:</label>
    <div class="input-group">
      <input type="text" class="form-control" id="linkPieceJointe" name="linkPieceJointe" [(ngModel)]="post.linkPieceJointe">
      <div class="input-group-append">
        <label class="btn btn-primary">
          Choisir un fichier
          <input type="file" (change)="onFileSelected($event)" accept="image/*" />
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="link">Lien</label>
    <input type="text" class="form-control" id="link" [(ngModel)]="post.link" name="link" required>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" [(ngModel)]="post.description" name="description" required></textarea>
  </div>

  <div class="form-group">
    <label for="adresse">Adresse</label>
    <input type="text" class="form-control" id="adresse" [(ngModel)]="post.adresse" name="adresse" required style="height: 400px;">
  </div>

  <div class="form-group">
    <label for="date">Date</label>
    <input type="date" class="form-control" id="date" [(ngModel)]="post.date" name="date" required>
  </div>

  <button [disabled]="postForm.invalid" type="submit" class="btn btn-primary">Ajouter</button>
</form>
