<div class="row">
    <div class="col-md-6 col-lg-5" >
        <div class="card">
            <div class="card-body" style="background-color: white;">
                <div style="display: flex;justify-content: flex-end;">
                    <button [routerLink]="['/centre']" style="
                    width: 33%;
                    color: #fffcee;
                    background-color: #fb9678;
                    border: 0px;
                    border-radius: 10px;
                 ">Add Centre</button>
                </div>
                <table style="width: 100%;">
                    <tr style="background-color: #e6dddd;">
                      <th>Name</th>
                      <th>description</th>
                      <th>Ville</th>
                    </tr>
                    
                    <tr *ngFor="let element of ListCentr">
                      <td>{{element.name}}</td>
                      <td>{{element.description}}</td>
                      <td>{{element.ville}}</td>
                    </tr>
                  </table>
            </div>
        </div>

    </div>
</div>
