<form #postForm="ngForm" >
  <div class="form-group">
    <label for="linkpiecejointe">Lien de la pièce jointe:</label>
    <div class="input-group">
      <div class="input-group-append">
        <label class="btn btn-primary">
          <input type="file" (change)="onFileSelected($event)" accept="image/*" id="linkpiecejointe" name="linkpiecejointe" [(ngModel)]="post.linkpiecejointe" />
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="link">Lien</label>
    <input type="text" class="form-control" id="link" [(ngModel)]="post.link" name="link" required>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" [(ngModel)]="post.description" name="description" required></textarea>
  </div>

  <div class="form-group">
    <label for="adresse">Adresse</label>
    <input type="text" class="form-control" id="adresse" [(ngModel)]="post.adresse" name="adresse" required style="height: 400px;">
  </div>

  <div class="form-group">
    <label for="date">Date</label>
    <input type="date" class="form-control" id="date" [(ngModel)]="post.date" name="date" required>
  </div>

  <button [disabled]="postForm.invalid" (click) = "updatePost()" type="submit" class="btn btn-primary">Mettre à jour</button>
</form>
